/* simple-pageless-template style sheet */

@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:300);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* HTML elements */

body {
	font-family: 'Titillium Web', 'sans-serif';
	font-size: 1.6em;
	line-height: 150%;
	width: 100%;
	margin: 0;
}

footer {
	font-size: 78%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;
}

h1,h2 { font-family: 'Montserrat', 'sans-serif' }

h1 {
	font-size: 400%;
	line-height: 100%;
	text-align: center;
	margin: 60px 0 70px 0;
}

h2 {
	font-size: 200%;
	line-height: 100%;
	margin: 30px 0 30px 0;
}

/* classes */

.box {
	padding: 10px 15% 10px 15%;
}

.color-1 {
	color: #FFF;
	background-color: #003399;
}

.color-1 a {
	color: #FFF;
	word-wrap: break-word;
}

.color-2 {
	color: #FFF;
	background-color: #CC3300;
}

.color-2 a {
	color: #FFF;
	word-wrap: break-word;
}

.color-3 {
	color: #333333;
	background-color: #FFF;
}

.color-3 a {
	color: #333333;
	word-break: break-all;
}

[class*="fontawesome-"]:before {
	font-family: 'FontAwesome', sans-serif;
}